/* χρωμα στο πισω μερος ολης της οθονης*/
body{
    background-color:rgb(239, 239, 239);
}


/* Header */
/* ρυθμισεις για το header*/
header{
    border-bottom: thin solid red;
    width: 100%;
}

/*εικόνα κεφαλίδας*/
header > a > img{
    float: left;
    position: relative;
    left: 30px;
    top: 10px; /*αρνητικό για να πάει προς τα πάνω*/
}

/* Κείμενο "Gnosis" */
#logo_text{
    color:red;
    text-indent: 37px;
    font-size: 30px;
    font-family: 'Monotype Corsiva';
}
/*κουμπί κεφαλίδας(εγγραφής)*/
#h-btn{
    background-color: white;
    cursor: pointer;
    border-radius: 15px;
    float: right;
    position: relative;
    right: 30px;
    bottom: 50px;
    padding: 5px 15px;
}

#h-btn:hover{
    background-color: violet;
    cursor: pointer;
}

#h-btn:active{
    background-color: lightgreen;
    cursor: pointer;
}




/* Nav menu */
/*χρώμα και τοποθέτηση στο κέντρο για τα στοιχεία του nav menu*/
nav{
    background-color:lightblue;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 30rem;

}

/*χρώμα, padding και περιγραμμα για τα references μέσα στο nav*/
nav a{
    background-color:blue;
    padding: 10px;
    border-style: solid;
    border-color: white;
    border-width: 2px;
    border-radius: 10px;
}

/*χρώματα για κάθε κατάσταση των references μεσα στο nav*/
#nav-item a:link{
    color: white;
}

#nav-item a:visited{
    color: lightskyblue;
}

#nav-item a:hover{
    color: red;
}

#nav-item a:active{
    color: purple;
}

#nav-item > #activePage{
    color: white;
}

#nav-item > #activePage:visited{
    color: white;
}

/* main */
/*χρωμα για το main*/
main{
    background-color: rgb(3, 155, 243);
    margin-bottom: 10px;
    padding-bottom: 3px;
}

/*χρώμα για τα article του main*/
main article{
    background-color: lightblue;
    padding-bottom: 5px;
    margin: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/*χρώμα για τα section του main*/
main section{
    background-color: lightskyblue;
    margin: 7px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
}

/*χρώμα για τις unordered λιστες του main*/
main ul{
    background-color: lightseagreen;
    /*display: inline-block;*/
    padding: 5px 20px;
    margin: 10px;
    list-style-type: square;
}

/*χρώμα για τις ordered λιστες του main*/
main ol{
    background-color: lightseagreen;
    /*display: inline-block;*/
    padding: 5px 20px;
    margin: 10px;
}

/*χρώμα για την φόρμα επικοινωνίας και χρώμα για περίγραμμα.
το display χρησιμοποιείται για να μας δείχνει την φόρμα σε 
στυλ κουτιού και τα margin για να την τοποθετήσουμε στο κέντρο*/
main form{
    background-color: teal;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    display:inline-block;
    width: 50%;
    margin-left:25%;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*απόσταση μεταξύ των στοιχείων της φόρμας και του περιγράμματος*/
#form-items{
    padding: 10px;
}
#form-items input, textarea{
    max-width: 100%; 
}

#form-items .centeredInput{
    text-align: center;
}
/*style για το κουμπί της υποβολής και του κουμπιού στην index 
της άσκησης(χρησιμοποιείται id="btn" στα κατάλληλα σημεία)*/
#btn{
    background-color: lightblue;
    outline-style: none;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
    left: 40%;

}

#btn:hover{
    background-color: lightcoral;
    cursor: pointer;
}
#btn:active{
    background-color: lightgreen;
    cursor: pointer;
}

/*χρώμα για όλα τα references και τις καταστάσεις τους(εκτός από
αυτά στο nav)*/
a:link{
    color: blue;
}

a:visited{
    color: rgb(54, 54, 104);
}

a:hover{
    color: red;
}

a:active{
    color: purple;
}

/*Image settings excluding avatar images on about_us.html*/
main img:not(.avatar){
    max-width: 20rem;
    max-height: 10em;
    border: solid 1px #aaa;
    box-shadow: 0 0 0 4px #eee, 0 0 0 5px #aaa;


    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* Avatar images settings */
.avatar{
    float: left;
    position: relative;
    bottom: 10px;
    padding-right: 20px;
    padding-left: 5px;
}


/*style για κάθε διαφορετικό τύπο(h1-h4)*/
h1{
    font-size: 50px;
    /*font-family:Arial, Helvetica, sans-serif;*/
    font-family: 'Alegreya SC', serif;
    text-align: center;
    text-decoration: underline;
    font-style: italic;
}

h2{
    font-size: 30px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    border-color: black;
    border-style: solid;
    border-width: 5px;
    padding: 5px;
    background-color: rgb(159, 86, 228);
    font-style: italic;
}

@font-face {
    font-family: lessonsFont;
    src: url(OpenSansCondensed-Bold.ttf);
  }
h3{
    font-size: 20px;
    font-family: lessonsFont;
    /* font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    text-align: center;
    /* text-decoration: underline;
    font-style: italic; */
    font-weight: normal;
}

h4{
    font-size: 15px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: left;
    font-style: italic;
}



/* κλάση μορφοποίησης κειμένου που θα χρησιμοποιηθεί σε όλα τα κείμενα*/
/* Το "κουτι" καθε ενοτητας του κυριου περιεχομενου (μαθημα/θεματικη ενοτητα)*/
.txt-style{
    text-align: left;
    font-size: 18px;
    font-family: 'Comforter', cursive;
    font-family: 'EB Garamond', serif;
    font-style: normal;
    padding: 1rem;
    max-width: 50em;    /* Μεγιστο πλατος για να μην εχουμε κουτια που πιεζουν αλλα στην ιδια γραμμη */
}



/* Avatar txt style to exclude the max-width rule */
.avatar-txt-style{
    text-align: left;
    font-size: 18px;
    font-family: 'Comforter', cursive;
    font-family: 'EB Garamond', serif;
    font-style: normal;
    padding: 1rem;
}
/*κλάση για στυλ κειμένου για όλες τις αριθμημένες λίστες.
Χρησιμοποιήθηκε και για την φόρμα ερωτήσεων/σχολίων*/
.list-style{
    text-align: left;
    font-size: 15px;
    font-family: 'Alegreya SC', serif;
}

/*κλάση για στυλ κειμένου για όλες τις μη αριθμημένες λίστες*/
.ulist-style{
    text-align: left;
    font-size: 10px;
    font-family: 'Press Start 2P', cursive;
    line-height: 20px;
}


/* Footer */
/*χρωματα για το footer και τα στοιχεία εντος του*/
body > footer{
    background-color: rgb(245, 195, 195);
    width: 100%;
    padding-top: 5px;
    border-top: thin solid red; 

}
/*social media section*/
body > footer > section{
    padding-left: 90%;
}
/*εικόνες footer*/
body > footer img{
    float: right;
    position: relative;
    right: 50%;
    top: -75px;
    padding-left: 5px;
    padding-right:10px;
}
@font-face {
    font-family: footerFont;
    src: url(AmaticSC-Bold.ttf);
  }

body > footer > p{
    font-family: footerFont;
    font-size: 20px;
}

body > footer{
    text-align: left;
    font-size: 15px;
    padding-left: 5px;
    padding-bottom: 20px;
}
body > footer > a{
    text-transform: uppercase;
    display: flex; 
    justify-content: center; 
}

/*Footer Social media image filtering and hover effect*/
/*turns the image into black*/
.social_media{
    filter: grayscale(100%);
    filter: brightness(0);
}
/*turns the image back to normal*/
.social_media:hover{
    filter:grayscale(0%);
}
#footerLogo{
    position: relative;
    right: 47.5%;
    top: 1em;
    padding-left: 0px;
    padding-right:0px;
    max-height: 5rem;
    width: auto;
}



/* Phone: width < 768
   Tablet : 768 <= width < 1200
   Desktop: 1200 <= width
 */



/* CSS Grid Layout */
/* <body> is the grid */

/* Σχετικά με την δομή της σελίδας, Χρησιμοποιούμε ενα grid για να κατανείμουμε τα κύρια στοιχεία του <body> (header, nav, main, footer)
    και flexboxes για την κατανομή της κύριας πληροφορίας της σελίδας (main) */

/* Desktop */
@media (min-width: 1200px){
.gridlayout{
    display: grid;
    grid-template-columns: 0.1fr 1fr;
    
    grid-gap: 0px 10px;
}
.gridlayout > header {
    grid-column-start: 1;
    grid-column-end: end;
  }
.gridlayout > nav {
    grid-column-start: 1;
    grid-column-end: 2;
  }

.gridlayout > main {
    grid-column-start: 2;
    grid-column-end: end;
  } 

.gridlayout > footer {
    grid-column-start: 1;
    grid-column-end: end;
  }

/*index layout without nav bar*/
#indexGridLayout > main{
    grid-column-start: 1;
    grid-column-end: end;

}

/* CSS Flexible Box Layout Module (Flexbox) */
/* <main> flexbox*/
.flex-container {
    display:flex;
    flex-direction: column;
}

.flex-container1{
    display: flex;
    flex-direction: row;
    text-align: center;
    flex-grow: 100;
    flex-shrink: 3;
    flex-basis: 1em;
}


.flex-item1 {
    padding: 10px;
    flex: 20%;
}
  
/* .flex-item2 {
    padding: 10px;
    flex: 40%;
}

.flex-item3{
    padding: 10px;
    flex: 40%;
} */

#indexFlexContainer > section{
    flex: 10%;
}
} 





/* Phone */
@media only screen and (min-width : 0px) and (max-width : 768px){
    /* main grid adjustment (turned into flexbox) */
    .gridlayout{
        display: flex;
        flex-direction: column;
        
    }

    /* nav adjustment */
    body > nav{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 3%;
        max-height: 10em;
        /*flex-wrap: wrap;*/
    }

    body > nav > a{
        max-height: 2.2em;
        padding: 0.3em;


    }

    /* footer adjustments */
    #footerLogo{
        position: relative;
        right: 40%;
        top: 3em;
        padding-left: 0px;
        padding-right:0px;
        max-height: 5rem;
        width: auto;
    }


    body > footer img{
        float: right;
        position: relative;
        padding: 0.2em;
    }

}
/* Tablet */
@media only screen and (min-width : 768px) and (max-width : 1200px){
    /* Flex structure, 1 column */
    .gridlayout{
        display: flex;
        flex-direction: column;
        grid-gap: 0px 10px;
    }

    /*  */
    body > nav{
        padding: 1em;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 3%;
        max-height: 15rem;
    }
    body > nav > a{
        max-height: 2.2em;
        padding: 0.3em;
    }

    
    /* Θα ορίσουμε τα μαθήματα/γνωστικά αντικείμενα με grid 2 στηλών (ως elements του grid θα ειναι οι 3αδες στοιχείων (div) που εχουν οριστει στο html*/
    /* <main> grid*/
    /* elements of grid are divs */
    /* Excluding main page and contact form page */
    body > main:not(#indexMain):not(#contactFormMain){
        display:grid;
        grid-template-columns: 1fr 1fr;

    }
    .gridlayout > main .flex-item1{
        grid-column-start: 1;
        grid-column-end: end;
        border: 10px red;

    } 
    body > main h2 {
        grid-column-start: 1;
        grid-column-end: end;

    }
    body > main h1 {
        grid-column-start: 1;
        grid-column-end: end;

    }


    body > main article {
        min-height: 30em;
    }

    /* index grid 2 στηλών */
    #indexFlexContainer{
        display:grid;
        grid-template-columns: 1fr 1fr;
    }



    /* footer adjustments */
    #footerLogo{
        position: relative;
        right: 45%;
        top: 1em;
        padding-left: 0px;
        padding-right:0px;
        max-height: 5rem;
        width: auto;
    }


    body > footer img{
        float: right;
        position: relative;
        padding: 0.2em;
    }
}



/* Responsive images */
main img{
    max-width: 100%;
}
/* width  [530, 768] & [900, 1200] & [1500,inf] we keep original images*/
/* width [350, 530] & [768, 900] & [1200,1500] we load smaller images (images/small x0.5/xxxxx.png) */
/* οι εικονες δεν ειναι σημαντικα αρκετα μικρες σε καποια συσκευη διοτι αυξανεται ο χωρος οσο μικραινει η οθονη (εχουμε λιγοτερες στηλες) */
/* Στα διαστηματα που αλλαζει η συσκευη, οι εικονες ειναι μικροτερες οποτε θεωρητικα μπορουμε να τις αλλαξουμεμε εικονες μικροτερες αναλυσης*/





/* Φορμα εγγραφης */
/* Ασκηση 5 */
.container {
    border-radius: 5px;
    background-color: #0ed4ee;
    padding: 20px;

}

.container input[type=text], .container input[type=month], 
.container input[type=number], .container input[type=tel], .container input[type=password], 
.container input[type=email]{
    width: 50%;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.container > input[type=text], select {
      width: 100%;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 10px;
      resize: vertical;
}


.container > input[type=text], .container textarea {
    width: 100%;
    height: 50px;
    border: 2px solid #ccc;
    border-radius: 10px;
    resize: vertical;
}

.container  label {
    height: 10px;
    padding: 12px 12px 12px 0;
    display: inline-block;
}

.container  input[type=submit] {
    background-color: #04AA6D;
    color: rgb(250, 245, 245);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
    
.container  input[type=submit]:hover {
    background-color: #45a049;
}

.container .centeredInput{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

/* Responsive layout - mobile */
@media screen and (min-width : 0px) and (max-width : 768px) {


    .container  form{
        width: 100%;
        margin-left: 0%;
        position: relative;
        left: 0%;
    }
}

/*  tablet  */
@media only screen and (min-width : 768px) and (max-width : 1200px){

    .container  form{
        width: 100%;
        margin-left: 0%;
        position: relative;
        left: 50%;
    }
}
/* desktop */
@media only screen and (min-width : 1200px){
    #signInFormBody{
        display:flex;
        flex-direction: column;
    }
    .container {
        grid-row-start: 2;
        grid-column-start: start;
        grid-column-end: end;
    }
}